<?xml version="1.0" encoding="UTF-8" standalone="no"?><application>
<Configuration>
<!-- IP Teacher  -->
	<IP>192.168.0.100</IP>
	
	<!-- Broad Cast UDP-->
	<IP_UDP>192.168.0.255</IP_UDP>

	<!--  port UDP for find new student-->
	<PORT_UDP>9600</PORT_UDP>

	<!--UDP порт приема данных доски  + 1 -->
	<!--PORT_UDP_BOARD>9801</PORT_UDP_BOARD-->
		
	<!--TCP порт отправки экрана студета +2 -->
	<!--PORT_TCP_IMG>9820</PORT_TCP_IMG-->
		
	<!--TCP порт получения команд  +3 -->		
	<!--PORT_TCP_COMMAND>9830</PORT_TCP_COMMAND-->
		
	<!--port UDP for get ScreenStream +4 -->		
	<!--PORT_TCP_ScStr>9840</PORT_TCP_ScStr-->
		
</Configuration>
	<Colors>
		<Background>6666FF</Background>
		<Foreground>FFFF33</Foreground>
		<LineColor>FF33FF</LineColor>
		<FillColor>CCFFCC</FillColor>	 
	</Colors>
	<Line>
		<Thickness>2.0</Thickness>
		<Dash>0</Dash>
	</Line>
	<FontSize>21</FontSize>

</application>