<?xml version="1.0" encoding="UTF-8" standalone="no"?><application>
<Configuration>
	
	<!-- BroadCast UDP-->
	<IP_UDP>192.168.43.255</IP_UDP>

	<!-- UDP порт для поиска новых студентов-->
	<PORT_UDP>9650</PORT_UDP>

	<!--UDP порт приема данных доски  + 1 -->
	<!--TCP порт отправки экрана студета +2 -->
	<!--TCP порт получения команд  +3 -->
	<!--UDP порт для получения экрана преподавателя +4 -->
	
    <!--Допустимы размер пакета UDP для передачи экрана преподавателя  в byte-->    
    <SizeMaxUDP>32000</SizeMaxUDP>  
	
    <!-- Флаг определяющий выполнять или нет автоопределение IP и допустимый размер UDP пакета  -->
    <Define>True</Define>
		
</Configuration>
	<Colors>
		<!--Цвет фона-->
		<Background>C9D4C9</Background>
		<!--Цвет текста-->    
		<Foreground>666600</Foreground>
		<!--Цвет линии-->
		<LineColor>660099</LineColor>
		 <!--Цвет заливкик-->
		<FillColor>0000FF</FillColor>	 
	</Colors>
	<Line>
		<!--Толщина линии-->
		<Thickness>2.0</Thickness>
		<!--Тип линии-->
		<Dash>0</Dash>
	</Line>
	<!--Высота шрифта от 15 до 25 -->
	<FontSize>17</FontSize>
</application>